.toggle-checkbox {
    display: none;
  }
  
  .slider {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    background-color: #ff0000;
    border-radius: 999px;
    transition: 0.4s;
    cursor: pointer;
  }
  
  .slider::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    top: 2.5px;
    left: 3px;
    transition: 0.4s;
  }
  
  .toggle-checkbox:checked + .slider {
    background-color: #4ade80;
  }
  
  .toggle-checkbox:checked + .slider::before {
    transform: translateX(24px);
  }
  
  label {
    cursor: pointer;
  }